body {
    background-color: #D8E3E7;
  }
  hr {
    background-color: rgba(192, 191, 191, 0);
    border-radius: 0px;
    border-style: dotted none none;
    border-width: 5px;
    color: rgba(128, 128, 128, 0.5);
    width: 20%;
  }
  img {
    max-height:250px;
  }
  h1, h3 {
      color:#66BFBF;
  }

  #mainpic {
    border-radius: 100%;
  }